<label for="individual-quiz" class="individual-quiz-title">
  <% const title = JSON.stringify(dashboard.quizData.rows[cardCounter].title) %>
  <%= title %>
</label>
<br/>

<label for="individual-quiz" class="individual-quiz-author">
  <%= dashboard.authorData.rows[cardCounter].name %>
</label>
<br/>

<!-- // for loop to make questions  -->
<% const questions = dashboard.questionsData.rows %>
<% let questionCounter = 0; %>

<% for (question of questions) { %>
  <% if (question.quiz_id === dashboard.quizData.rows[cardCounter].id && questionCounter < 2) { %>
    <div class="quiz-card-container">
      <div class="quiz-content">
        <div class="question">
          <%= question.content %>
        </div>

        <fieldset>
          <div class="answer-options">
            <% const options = dashboard.optionsData.rows.filter(opt => opt.question_id === question.id) %>
            <% for (let i = 0; i < question.number_of_options && i < options.length; i++) { %>
              <div class="answer-option">
                <input type="radio" name="<%= options[i].content %>" value="<%= options[i].content %>" /> <%= options[i].content %>
              </div>
            <% } %>
          </div>
        </fieldset>
      </div>
    </div>
    <% questionCounter++; %>
  <% } %>
<% } %>

<div class="reactions">
  <div class="reaction"><i class="fa-regular fa-flag"></i></div>
  <div class="reaction"><i class="fa-regular fa-heart"></i></div>
</div>
