<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/_head', { pageTitle: 'Home' }) %>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script>
          <!-- Include your index.js file -->
          <script src="/routes/index"></script>
</head>

<body>
  <!-- Top nav bar moved to partial (fixed) -->
  <% const dashboardPage = false; %>
  <%- include('partials/_nav', { dashboardPage: dashboardPage }) %>
  <!-- Page-specific (main) content here -->
  <section id="page-content">
    <%- include('partials/_header') %>
    <main class="container">

      <div id="quiz-container">
        <% for (let i = 0; i < quizzes.length; i++) { %>
        <div class="quiz-box">
          <h3><%= quizzes[i].title %></h3>
          <p>ID: <%= quizzes[i].id %></p>
          <p>Rating: <%= quizzes[i].rating %></p>
        </div>
      <% } %>
      </div>

      <%- include('partials/_dashboard-content') %>
    </main>
  </section>

</body>


</html>
<!-- <div id="error-printer"></div> // error rolldown will insert here -->
