<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Include head partial and scripts -->
  <%- include('partials/_head', { pageTitle: 'Quiz ' }) %>
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
  <script src="/scripts/dashboard.js"></script>
  <link rel="stylesheet" href="/styles/individual-quiz.css" type="text/css" />
</head>

<body class="dashboard-page">
  <% const dashboardPage=true; %>
  <%- include('partials/_nav', { dashboardPage: false }) %>

  <section id="page-content">
    <main class="container">

      <label for="individual-quiz" class="individual-quiz-title">
        <% const title=JSON.stringify(dashboard.quizData.rows[0].title) %>
        <h1>
          <%= title %>
        </h1>
      </label>

      <label for="individual-quiz" class="individual-quiz-author">
        <h3> by <%= (dashboard.authorData.rows[0].name) %>
        </h3>
      </label>
      <br />

      <!-- // for loop to make questions  -->
      <% const questions=dashboard.questionsData.rows %>

      <% let questionCounter=0; %>

      <% for (question of questions) { %>

        <div class="quiz-card-container">
          <div class="quiz-content">
            <div class="question">
              <%= question.question_content %>
            </div>

            <fieldset>
              <div class="answer-options">
                <% const options = dashboard.optionsData.rows %>
                <% for (let i = 0; i < options.length; i++) { %>
                  <% if (options[i].question_id === question.question_id) { %>
                    <div class="answer-option">
                      <input type="radio" name="<%= `question_${question.question_id}_option` %>" value="<%= options[i].option_content %>" />
                      <%= options[i].option_content %>
                    </div>
                  <% } %>
                <% } %>
              </div>
            </fieldset>
          </div>
        </div>

        <% questionCounter++; %>
      <% } %>


    </main>
  </section>
  <button id="submitQuiz">Submit</button>
</body>

</html>
